// {{ .rule }}
found_{{ .index }} := false
for _, v := range []{{ .field_type }}{{ .enum_value }} {
	if i.{{ .field_name }} == v {
		found_{{ .index }} = true
		return
	}
}
if found_{{ .index }} {
	err = errors.New(`invalid<enum>: {{ .struct_name }}.{{ .field_name }} must be in the {{ .enum_value }}`)
	return
}
