// {{ .rule }}
if i.{{ .field_name }} != nil {
	val_{{ .index }} := *i.{{ .field_name }}
	found_{{ .index }} := false
	for _, v := range []{{ remove_ptr .field_type }}{{ .enum_value }} {
		if val_{{ .index }} == v {
			found_{{ .index }} = true
			break
		}
	}
	if !found_{{ .index }} {
		err = errors.New(`invalid<enum>: {{ .struct_name }}.{{ .field_name }} must be in the {{ .enum_value }}`)
		return
	}
}
