// {{ .rule }}
for idx := range i.{{ .field_name }} {
	if i.{{ .field_name }}[idx] == {{ .forbidden_value }} {
		err = errors.New(`invalid<not>: each of {{ .struct_name }}.{{ .field_name }} must not be {{ .forbidden_value }}`)
		return
	}
}
