// {{ .rule }}
if i.{{ .field_name }} != nil {
	for _, val := range *(i.{{ .field_name }}) {
		if val == {{ .forbidden_value }} {
			err = errors.New(`invalid<not>: each of {{ .struct_name }}.{{ .field_name }} must not be {{ .forbidden_value }}`)
			return
		}
	}
}
