// {{ .rule }}
if i.{{ .field_name }} != nil && *i.{{ .field_name }} == {{ .forbidden_value }} {
	err = errors.New(`invalid<not>: {{ .struct_name }}.{{ .field_name }} must not be {{ .forbidden_value }}`)
	return
}
