// {{ .rule }}
if i.{{ .field_name }} != nil {
	for _, val := range *(i.{{ .field_name }}) {
		if !regex_{{ to_lower .struct_name }}_{{ .index }}.MatchString(val) {
			err = errors.New(`invalid<regex>: each of {{ .struct_name }}.{{ .field_name }} must conform to the regex<{{ .regex_value }}>`)
			return
		}
	}
}
