// {{ .rule }}
if i.{{ .field_name }} != nil && !regex_{{ to_lower .struct_name }}_{{ .index }}.MatchString(*i.{{ .field_name }}) {
	err = errors.New(`invalid<regex>: {{ .struct_name }}.{{ .field_name }} must conform to the regex<{{ .regex_value }}>`)
	return
}
