// {{ .rule }}
func (i *{{ .struct_name }}) _{{ .field_name }}_invalid_regex_{{ .index }}_() error {
	if i.{{ .field_name }} == nil {
		return nil
	}

	for _, val := range *(i.{{ .field_name }}) {
		if !regex_{{ .index }}.MatchString(val) {
			return errors.New(`invalid<regex>: each of {{ .struct_name }}.{{ .field_name }} must conform to the regex<{{ .regex_value }}>`)
		}
	}
	return nil
}
